.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.colorButtonyellow{
  background-color: #d4d202;
  color: #000;
}


.colorButtonviolet{
  background-color: #cd87d4;
  color: #000;
}
