
<div class="container mt-2 d-flex justify-content-center">
  <div class="card p-2 mt-2">
    <div class="first">
      <h6 class="heading">{{user.nom}} {{user.prenom}}</h6>
      <div class="time d-flex flex-row align-items-center justify-content-between mt-3">
      </div>
    </div>
    <div class="second d-flex flex-row mt-2">
      <div class="image mr-3"> <img src="/assets/metier/{{user.photo}}" class="rounded-circle" width="60" height="60"/> </div>
      <div class="">
        <div class="d-flex flex-row mb-1"> <span>{{user.metier}}</span>
          <div class="ratings ml-2">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star"></i> </div>
        </div>
        <div> <button class="btn btn-outline-dark btn-sm px-2">Abonner</button> <button class="btn btn-outline-dark btn-sm">Profil</button> <button class="btn btn-outline-dark btn-sm"><i class="fa fa-comment-o"></i></button> </div>
      </div>
    </div>
    <hr class="line-color">
    <h6>48 Commentaires</h6>
    <div class="third mt-2"> <button class="btn btn-success btn-block" (click)="profilArtisan(user)"><i class="fa fa-clock-o"></i> Consulter Profil</button>
    </div>
  </div>
</div>
