<div class="container">
<div class="jumbotron text-center">
  <button type="button" class="boutonajoutecnx btn btn-warning">Connexion</button>
  <button class="boutonajoute btn btn btn-outline-warning btn-lg" (click)="inscription()">S'inscrire en tant que professionnel</button>



  <div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-4" style="font-weight: bold; color: #17a97f">
      Trouvez un artisan près de chez vous
    </h1>
    <p class="lead mt-4">
      <a class="btn btn-success btn-lg"
         href="#"
         role="button"
         routerLink="/app/dashboard">
        <strong>Chercher un artisan</strong>
      </a>
    </p>
  </div>
</div>




  <h2 style="color: #020306">
    Trouvez rapidement l'artisan qu'il vous faut pour votre projet sur 5idemti.tn
  </h2>
  <h6 class="text-white"> Quels travaux voulez-vous faire?</h6>
  <br>
  <br>
<div class="row">
  <div class="col-lg-3 mx-auto">
    <!-- CUSTOM BLOCKQUOTE -->
    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
      <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
      <h6>Inscrivez-vous maintenant</h6>
      <p class="mb-0 mt-2 font-italic">"Votre annuaire gratuit des artisans
        vous attend à la fin de votre inscription."</p>
      <footer class=" pt-4 mt-4 border-top">
        <button type="button" class="btn btn-outline-info">Inscrivez-vous</button>
      </footer>
    </blockquote><!-- END -->
  </div>


  <div class="col-lg-3 mx-auto">
    <!-- CUSTOM BLOCKQUOTE -->
    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
      <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
      <h6>Cherchez un artisan</h6>
      <p class="mb-0 mt-2 font-italic">"Vous pouvez saisir les critères
        qui correspondants à votre besoin."</p>
      <footer class=" pt-4 mt-4 border-top">
        <button type="button" class="btn btn-outline-info">Cherchez</button>
      </footer>
    </blockquote><!-- END -->
  </div>


  <div class="col-lg-3 mx-auto">
    <!-- CUSTOM BLOCKQUOTE -->
    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
      <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
      <h6>Choisissez un artisan</h6>
      <p class="mb-0 mt-2 font-italic">"Consultez les profils des artisans et sélectionnez
        ceux que vous souhaitez rencontrer."</p>
      <footer class=" pt-4 mt-4 border-top">
        <button type="button" class="btn btn-outline-info">Choisissez</button>
      </footer>
    </blockquote><!-- END -->
  </div>
</div>






<div class="container">
  <h1>Top artisants</h1>
  <app-user-recent></app-user-recent>
</div>


<div class="container">
  <div>
    <h1>Toujours très demandé</h1>
    <div class="row">

      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
  </div>
</div>
