<div class="card card-news">
  <header class="card-header bg-dark text-white"><i class="lnr lnr-briefcase"></i>&nbsp; Secteurs</header>
  <div class="list-group">
    <ul class="list-fa list-underline list-bold list-uppercase list-group">
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/aeronautique-espace/">Aeronautique- Espace</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/agriculture-agroalimentaire/">Agriculture- Agroalimentaire</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/architecture-btp/" title="Le secteur du bâtiment est un des premiers employeurs en Afrique. Il recrute à tous les niveaux de formation, de l’ouvrier à l’ingénieur en passant par l'architecte. Découvrez l’ensemble des métiers du Bâtiment- Travaux Publiques (BTP) et l'Architecture.">Architecture – BTP</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/arts-culture/">Arts – Culture</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/banques-assurance/">Banques – Assurance</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/biologie-chimie-pharmacie/">biologie-chimie-pharmacie</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/commerce-marketing-economie-gestion/">Commerce – Marketing – Économie – Gestion</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/communication-multimedia-internet/">Communication – Multimédia – Internet</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/environnement/">Environnement</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/fonction-publique/">Fonction Publique</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/hotellerie-restauration/">Hôtellerie – Restauration</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/metiers-a-la-une/">Les métiers à la Une</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/lettres-langues-sciences-humaines/">Lettres – Langues – Sciences Humaines</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/sante-social/">Santé – Social – Bien être</a>
      </li>
      <li class="list-group-item"><a href="https://www.sencampus.com/secteurs/sciences-technologies/">Sciences &amp; Technologies</a>
      </li>
    </ul>
  </div>
</div>
